<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Register Page</h1>
        <table style="margin-left:auto;margin-right:auto;">
            <tr>
                <td>User ID:</td>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>
                    <input type="text" name="new_user">
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" name="new_password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="Register" value="register">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>